* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v124_2 {
  width: 1500px;
  height: 1500px;
  background: rgba(43,103,119,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v124_3 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 58px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v124_4 {
  width: 1350px;
  height: 1300px;
  background: rgba(200,216,228,1);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 60px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v124_5 {
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1268px;
  overflow: hidden;
}


.v124_92 {
  width: 287px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 102px;
  overflow: hidden;
}
.v124_93 {
  width: 287px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.v124_94 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v124_95 {
  width: 287px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 734px;
  overflow: hidden;
}
.v124_96 {
  width: 287px;
  height: 57px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.v124_97 {
  width: 287px;
  height: 57px;
  
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v124_98 {
  width: 222px;
  
  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v124_99 {
  width: 287px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 418px;
  overflow: hidden;
}
.v124_100 {
  width: 287px;
  height: 57px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.v124_101 {
  width: 287px;
  height: 57px;
  
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v124_102 {
  width: 222px;

  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v124_103 {
  width: 287px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 1050px;
  overflow: hidden;
}
.v124_104 {
  width: 287px;
  height: 57px;
  background: rgba(200,216,228,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.v124_105 {
  width: 287px;
  height: 57px;
  background: rgba(240,82,82,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v124_106 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
