<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/aboutus.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <style>
        a {
          text-decoration: none; 
          color: inherit; 
        }
        </style>
    <body>
        <div class="v198_32">
            <a href="/home1" class="v198_37">HOMELY</a>
            <div class="v198_38"></div>
            <span class="v198_42">About Us</span>
            <span class="v198_50">Team Members</span>
            <div class="v198_47">
                <div class="v198_48"></div>
            </div>
            <div class="v198_51">
                <div class="v198_52"></div>
                <span class="v198_53">Abijith S - Frontend</span>
            </div>
            <div class="v198_57">
                <div class="v198_58"></div>
                <span class="v198_59">Gaea Titus - Backend</span>
            </div>
            <div class="v198_54">
                <div class="v198_55"></div>
                <span class="v198_56">Cleeto Ittiachan - Backend</span>
            </div>
            <div class="v198_60">
                <div class="v198_61"></div>
                <span class="v198_62">Yadhukrishnan M S - AI/ML</span>
            </div>
        </div>
    </body>
    </html>