<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/blog.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <style>
        a {
          text-decoration: none; 
          color: inherit;
        }
    </style>
    <body>
        <div class="v198_2">
            <a href="/home1" class="v198_3">HOMELY</a>
            <div class="v198_4"></div>
        </div>
    </body>
    </html>