<!DOCTYPE html>
<html>
    <script>
        function predictForm() {
          var form = document.getElementById('predict');
          
          form.submit();
        }
        function submitForm(action) {
    var form = document.getElementById('predict');
    form.action = action;
    form.submit();
  }
    </script>
    <style>
      body{
        background: rgba(43,103,119,1);
      }
      a {
          text-decoration: none;
        }
        
        input {
          border: none;
          outline: none;
        }
        
        .input-wrapper {
          position: relative;
        }
        
        .input-wrapper input:focus::placeholder {
          opacity: 0;
        }
        
        .input-wrapper input::placeholder {
          opacity: 1;
          transition: opacity 0.2s ease;
        }
        select {
  border: none; color: lightgrey;
}

      </style>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /><link href="/static/listform.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v6_254">
            <a href="/home1" class="v6_255">HOMELY</a>
            <div class="v6_256"></div>
            <span class="v6_318">Add Property Details</span>
            <form id="predict" enctype="multipart/form-data" method="POST" action="/predicted/">
                {% csrf_token %}
            <div class="v6_563">
                <div class="v6_561"></div>
                <input type="text" class="v6_562" name="property_name" placeholder="Property Name" value="{% if property_name %}{{ property_name }}{% endif %}" required>

            </div>
            <div class="v48_8">
                <div class="v48_9"></div>
                <input type="number" class="v48_10" name="price" placeholder="Expected Price" value="{% if price %}{{ price }}{% endif %}" required>
            </div>
            <div class="v6_634">
                <div class="v6_635"></div>
                <input type="text" class="v6_636" name="description" placeholder="Description" value="{% if description %}{{ description }}{% endif %}" >
            </div>
            <div class="v6_637">
                <div class="v6_638"></div>
                <span class="v6_639">Upload Image:</span>
                <div class="v6_640">
                    <input type="file" name="image" class="v6_641"></input>
                </div>
            </div>
            <div class="v6_564">
                <div class="v6_565"></div>
                <input type="text" class="v6_566" name="latitude" placeholder="Location" value="{% if latitude %}{{ latitude }}{% endif %}"required></select>
                <!--<select class="v6_566" name="latitude" placeholder="Location" value="{% if latitude %}{{ latitude }}{% endif %}"required>
                  <option value="" disabled selected>Enter your location</option>
      <option value="Austin"{% if association == "Austin" %} selected{% endif %}>Austin</option>
      <option value="Del Valle"{% if association == "Del Valle" %} selected{% endif %}>Del Valle</option>
      <option value="Pflugerville"{% if association == "Pflugerville" %} selected{% endif %}>Pflugerville</option>
      <option value="Driftwood"{% if association == "Driftwood" %} selected{% endif %}>Driftwood</option>
      <option value="Manor"{% if association == "Manor" %} selected{% endif %}>Manor</option>
      <option value="Dripping Springs"{% if association == "Dripping Springs" %} selected{% endif %}>Dripping Springs</option>
      <option value="Manchaca"{% if association == "Manchaca" %} selected{% endif %}>Manchaca</option>
      <option value="West Lake Hills"{% if association == "West Lake Hills" %} selected{% endif %}>West Lake Hills</option>
      <option value="Road"{% if association == "Road" %} selected{% endif %}>Road</option>
    </select>-->
            </div>
            <div class="v6_567">
              <div class="v6_568"></div>
                <input type="number"  class="v6_569" name="longitude" placeholder="Living Area SqFt" value="{% if longitude%}{{ longitude}}{% endif %}"required>
            </div>
            <div class="v6_577">
                <div class="v6_578"></div>
                <input type="number"  class="v6_579" name="parking_space" placeholder="Num Of Patio And Porch Features" value="{% if parking_space %}{{ parking_space }}{% endif %}"required>
            </div>
            <div class="v48_11">
                <div class="v48_12"></div>
                <span class="v48_13">{% if EstimatedPrice %}{{ EstimatedPrice }}{% else %}Estimated Price{% endif %}</span>
                <input type="number" name="EstimatedPrice" value="{{EstimatedPrice}}" hidden>
            </div>
            <div class="v150_2">
                <div class="v150_3">
                </div>
                <a href="javascript:void(0)" onclick="predictForm()" class="v150_4">Show Price</a>
            </div>
            <div class="v6_592">
                <div class="v6_593"></div>
                <input type="number" class="v6_594" name="floors" placeholder="Floors" value="{% if floors %}{{ floors }}{% endif %}"required>

            </div>
            <div class="v6_580">
                <div class="v6_581"></div>
                <input type="number"  class="v6_582" name="garage_space" placeholder="Num Of Parking Features" value="{% if garage_space %}{{ garage_space }}{% endif %}"required>

                
              </div>
              <div class="v6_598">
                <div class="v6_599"></div>
                <input type="number"  class="v6_600" name="cooling" placeholder="Latest Sale Year"  value="{% if cooling %}{{ cooling }}{% endif %}"required>

            
              </div>
              <div class="v6_604">
                <div class="v6_605"></div>
                <input type="number"  class="v6_606" name="heating" placeholder="Num Of Security Features"  value="{% if heating %}{{ heating }}{% endif %}"required>

                
              </div>
              <div class="v6_610">
                <div class="v6_611"></div>
                <select class="v6_612" name="association" value="{% if association %}{{ association }}{% endif %}" required>
                  <option value="" disabled selected>Has View</option>
                  <option value="Yes"{% if association == "Yes" %} selected{% endif %}>Yes</option>
                  <option value="No"{% if association == "No" %} selected{% endif %}>No</option>
                </select>
              </div>
              <div class="v6_616">
                <div class="v6_617"></div>
                <input type="number"  class="v6_618" name="bedrooms" placeholder="Bedrooms" value="{% if bedrooms %}{{ bedrooms }}{% endif %}"required>
                
              </div>
              <div class="v6_622">
                <div class="v6_623"></div>
                <input type="number"   class="v6_624" name="bathrooms" placeholder="Bathrooms" value="{% if bathrooms %}{{ bathrooms }}{% endif %}"required>
                
              </div>
              <div class="v6_628">
                <div class="v6_629"></div>
                <select class="v6_630" name="spa" value="{% if spa %}{{ spa }}{% endif %}" required>
                  <option value="" disabled selected>Has SPA</option>
                  <option value="Yes"{% if association == "Yes" %} selected{% endif %}>Yes</option>
                  <option value="No"{% if association == "No" %} selected{% endif %}>No</option>
                </select>
              </div>
              <div class="v6_574">
                <div class="v6_575"></div>
                <input type="number"  class="v6_576" name="area" placeholder="Lot Size SqFt" value="{% if area %}{{ area }}{% endif %}"required>
              </div>
              <div class="v6_570">
                <div class="v6_571"></div>
                <input type="text" class="v6_572" name="address" placeholder="Address" value="{% if address %}{{ address }}{% endif %}">
              </div>
              <button type="submit" style="display: none;"></button>
              </form>
              <a href="/info" class="v48_32"></a>
                
              <div class="v112_2">
                <div class="v112_3"></div>
                <a href="#" onclick="submitForm('/submit/')" class="v112_4">SUBMIT</a>
              </div>
              
        </div>
    </body>
    </html>